<h2>Users</h2>

<ul>
  <li
    class="card card-body mb-2"
    *ngFor="let user of users"
    [class.bg-success]="user.isOnline"
    [style.border]="user.isOnline ? 'solid' : ''"
  >
    {{ user.name
    }}<small
      ><button (click)="toggleHide(user)" class="btn btn-dark btn-sm">
        Info
      </button></small
    >

    <ul
      class="list-group"
      *ngIf="!user.hide"
      [style.background-color]="showExtended ? 'white' : ''"
    >
      <li>Age: {{ user.age }}</li>
      <li>Gender: {{ user.gender }}</li>
      <li>Location: {{ user.location }}</li>
      <li><img [src]="user.image" width="200px" /></li>
    </ul>
  </li>
</ul>
